$font-color: black;
$disabled-font-color: gray;
:host-context(.active) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    display: inline-block;
    padding: 0.4em 0.8em;
    user-select: none;
    width: fit-content;
    cursor: pointer;
    color: $font-color;
    background: transparent;
    border: none;

    &:hover{
        background: rgba($font-color, 0.04);
    }

    &:active{
        background: rgba($font-color, 0.12);
    }
}

:host-context[disabled]{
    color: $disabled-font-color;
}
