<div class="overlay">
    <div class="modal-window">
        <div class="content">
            <h2 class="title">{{title}} <button app-button class="modal-cross" [iconName]="'times'" (click)="answerModal(false)"></button> </h2>
            <p>{{message}}</p>
        </div>
        <div class="actions">
            <button app-button [text]="cancelButtonText" (click)="answerModal(false)"></button>
            <button app-button [text]="okButtonText" (click)="answerModal(true)"></button>
        </div>
    </div>
</div>
